img {
    width: 100px;
    border-radius: 50px;
  }

  .main {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;
  }

  .username {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
  }