

img {
    width: 100px;
    border-radius: 50px;
  }

#summary {
    position: fixed;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-align: left;
    margin-right: 75%;
    margin-top: 10%;
  }

  h1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: whitesmoke;
  }

  ul {
    position: fixed;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }

  #myVideo {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }