#about {
  position: relative;
  padding: 30px;
  font-family: DM Sans, Arial, sans-serif;
  background-image: linear-gradient(rgb(9, 13, 25), rgb(35, 0, 99));
}

.about-top {
  display: flex;
  margin-bottom: 10px;
}
.about-desc {
  margin-left: 3vw;
  text-align: left;
}

.about-portrait img {
  width: 40vw;
  border-radius: 15px;
}

.about-desc img {
  width: 100%;
}

.youtube-previews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.youtube-previews iframe {
  width: 100%;
  height: 25vw;
}

#about p {
  margin-bottom: 10px;
  font-size: min(2.8vw, 2rem);
}

@media (max-width: 1000px) {
  .youtube-previews {
    grid-template-columns: 1fr;
  }
}
