.dock-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: -80px;
  height: 80px;
  background-color: black;
  z-index: 200;
  font-size: 0.9rem;
  color: rgb(177, 177, 177);
  font-weight: bold;
}
