.dock {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  background-color: rgb(28, 28, 28);
}

.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  background-color: rgb(237, 181, 0);
}
