.dock-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 80px;
  right: 0;
  bottom: -80px;
  height: 80px;
  background-color: none;
  z-index: 200;
  font-size: 12px;
  filter: brightness(80%);
}
