#experience {
  padding: 30px;
  font-family: Titillium Web, Arial, sans-serif;
  text-align: left;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.resume-btn {
  background-color: rgb(250, 201, 33);
  color: white;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s;
}

.resume-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
}
