#experience {
  padding: 30px;
  font-family: Titillium Web, Arial, sans-serif;
  text-align: left;
  background-image: linear-gradient(rgb(35, 0, 99), black);
  font-size: min(2.5vw, 2rem);
  height: 500px;
}
