#gallery {
  padding: 5px 5px 20px 5px;
  font-family: Titillium Web, Arial, sans-serif;
  background-image: linear-gradient(black, rgb(9, 13, 25));
  text-align: center;
}

#gallery h2 {
  margin: 0 0 20px 20px;
}

.picture-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  margin-bottom: 20px;
}

.picture-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: filter 0.15s;
  image-rendering: optimizeSpeed;
}

.picture-grid img:hover {
  filter: brightness(100%);
}

.spotify-grid {
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
}

.image-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  right: 10%;
  bottom: 20%;
  background-color: rgba(27, 27, 27, 0.9);
  opacity: 0;
  transition: ease 0.5s;
  pointer-events: none;
  font-size: min(2vw, 1rem);
  padding: 5px;
}

.image-container:hover div {
  opacity: 1;
  bottom: 10%;
}

@media (min-width: 701px) and (max-width: 1000px) {
  .picture-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1001px) {
  .picture-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  iframe {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .picture-grid img {
    filter: brightness(100%);
  }
}
