* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

body {
  font-family: PT Sans, Arial, sans-serif;
  height: 100%;
  background-color: rgb(27, 27, 27);
}

h2 {
  font-family: DM Sans, Arial, sans-serif;
}

li {
  text-align: center;
}

#content-blocker {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(25, 25, 25);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: ease 0.5s;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.loader {
  border: 0.25vw solid #f3f3f3; /* Light grey */
  border-top: 0.25vw solid rgb(62, 62, 62);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  * {
    scroll-margin-top: 50px;
  }
}
