.background-video {
  filter: brightness(50%);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home {
  position: absolute;
  top: 0;
  right: 0;
  left: 65px;
  bottom: 65px;
  display: flex;
  align-items: center;
  z-index: 50;
}
.blank-space {
  flex: 0.3;
}
.home-msg {
  flex: 1;
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0);
}
.home-portrait {
  position: relative;
  min-width: 300px;
  flex: 1;
  flex-shrink: 0;
  height: 100%;
  background-color: rgb(28, 28, 28);
}

.home-portrait img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-msg p {
  margin: 0;
}

.home-msg a {
  padding: 10px 20px 10px 20px;
  background-color: rgb(237, 181, 0);
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  transition: filter 0.5s;
}

.home-msg a:hover {
  filter: brightness(70%);
}
