#background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  object-fit: cover;
  object-position: top;
  filter: brightness(100%);
  filter: grayscale(100%);
}

.home {
  position: absolute;
  top: 0;
  right: 0;
  left: 80px;
  bottom: 80px;
  display: flex;
  align-items: center;
  z-index: 50;
}

.home-404 {
  position: absolute;
  top: 0;
  right: 0;
  left: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.home-404-msg {
  width: 50%;
  height: 50%;
  color: white;
  font-weight: 700;
  font-size: 5vh;
  background: none;
  flex-shrink: 0;
  margin-right: 10%;
  transition: color 0.35s;
  text-align: left;
}

.home-404-msg a {
  padding: 10px 20px 10px 20px;
  background-color: rgb(237, 181, 0);
  border: none;
  border-radius: 3px;
  font-size: 30%;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
  transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
  text-decoration: none;
  color: black;
}

.home-404-msg a:hover {
  background-color: rgb(194, 148, 0);
  padding: 15px 40px 15px 40px;
  font-size: 45%;
}

.home-msg {
  text-align: left;
  color: whitesmoke;
  font-weight: bold;
  margin-left: 7%;
  font-size: 3.5vw;
  background: none;
  flex-shrink: 0;
  text-wrap: nowrap;
}
.home-portrait {
  position: absolute;
  right: 5%;
  top: 0;
  left: 60%;
  bottom: 80px;
  display: flex;
  align-items: center;
}

.home-portrait img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 650px) {
  iframe {
    width: 100%;
  }

  .sidebar .top-section img {
    width: 30px;
    height: 30px;
  }

  .ham-menu {
    font-size: 12px;
  }

  .home-portrait {
    bottom: 80px;
    top: 50%;
    left: 20%;
    right: 20%;
    justify-content: center;
  }

  .home {
    align-items: start;
    margin-top: 30%;
  }

  .home-msg {
    font-size: 6vw;
  }
}

.learn-btn {
  padding: 10px 20px 10px 20px;
  background-color: rgba(237, 182, 0, 0.8);
  color: black;
  border: none;
  border-radius: 3px;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
  transition: padding 0.5s, font-size 0.5s;
  margin-top: 15px;
}

.learn-btn:hover {
  padding: 15px 30px 15px 30px;
  font-size: 45%;
}

.home-socials-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-shrink: none;
  margin-top: 10px;
}

.home-socials-container a {
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: initial;
}

.home-socials-container a img:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.home-socials-container a img {
  width: 60%;
  filter: brightness(80%);
  transition: ease 0.3s;
}
