#background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  object-fit: cover;
  object-position: top;
  filter: brightness(50%);
}

.home {
  position: absolute;
  top: 0;
  right: 0;
  left: 80px;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.home-404 {
  position: absolute;
  top: 0;
  right: 0;
  left: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.home-404-msg {
  width: 50%;
  height: 50%;
  color: white;
  font-weight: 700;
  font-size: 5vh;
  background: none;
  flex-shrink: 0;
  margin-right: 10%;
  transition: color 0.35s;
  text-align: left;
}

.home-404-msg a {
  padding: 10px 20px 10px 20px;
  background-color: rgb(237, 181, 0);
  border: none;
  border-radius: 3px;
  font-size: 30%;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
  transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
  text-decoration: none;
  color: black;
}

.home-404-msg a:hover {
  background-color: rgb(194, 148, 0);
  padding: 15px 40px 15px 40px;
  font-size: 45%;
}

.home-msg {
  text-align: left;
  color: whitesmoke;
  font-weight: 700;
  width: 50%;
  font-size: 5vh;
  background: none;
  flex-shrink: 0;
  margin-right: 10%;
  text-wrap: nowrap;
}
.home-portrait {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.home-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 650px) {
  .home-portrait {
    width: 100%;
  }

  .home-portrait img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .home-msg {
    width: 90%;
    font-size: 9vw;
  }

  .home-msg p {
    color: rgba(255, 255, 255, 0.676);
    transition: color 0.35s;
  }

  .background-video-div {
    background: none;
  }

  iframe {
    width: 100%;
  }

  .sidebar .top-section img {
    width: 30px;
    height: 30px;
  }

  .ham-menu {
    font-size: 12px;
  }
}

.home-msg a {
  padding: 10px 20px 10px 20px;
  background-color: rgba(237, 181, 0, 0.5);
  color: black;
  border: none;
  border-radius: 3px;
  font-size: 30%;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
  transition: padding 0.5s, font-size 0.5s;
}

.home-msg a:hover {
  padding: 15px 40px 15px 40px;
  font-size: 45%;
}
