main {
  position: absolute;
  display: flex;
  top: 100%;
  right: 0;
  left: 0;
  background: none;
  color: white;
  z-index: 0;
  background-color: rgb(10, 10, 10);
  font-family: DM Sans, Arial, sans-serif;
}

.content {
  margin-left: 80px;
  flex: 1;
  background-color: black;
}

@media (max-width: 600px) {
  .content {
    margin-left: 0px;
    border-top: 2px rgb(250, 201, 33) solid;
  }
}
