main {
  position: absolute;
  top: 100vh;
  right: 0;
  left: 0px;
  padding-left: 65px;
  padding-bottom: 65px;
  background-color: rgb(40, 40, 40);
  color: white;
  z-index: 0;
}

.sidebar-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 65px;
  background-color: rgb(32, 32, 32);
}
