main {
  position: absolute;
  display: flex;
  top: 100%;
  right: 0;
  left: 0;
  background: none;
  color: white;
  z-index: 0;
  background-color: black;
}

.sidebar-background {
  width: 80px;
  height: 100%;
  z-index: 300;
}

.content {
  flex: 1;
  background-color: rgb(9, 13, 25);
}

@media (max-width: 600px) {
  .sidebar-background {
    width: 50px;
  }
}
