.menu-container {
  position: fixed;
  left: -500px;
  top: 0;
  bottom: 0;
  width: 500px;
  color: white;
  z-index: 150;
  transition: 0.2s ease-in-out;
  display: flex;
}

.menu-sidebar-background {
  width: 80px;
  background-color: rgb(43, 43, 43);
  height: 100%;
}

.menu {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
}

.menu-container-toggled {
  left: 0;
}
