.menu {
  position: fixed;
  left: -500px;
  top: 0;
  bottom: 0;
  width: 500px;
  background-color: rgb(26, 26, 26);
  color: white;
  z-index: 150;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggled {
  left: 80px;
}
