.navbar-container,
.navbar-container-scrolled {
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgb(28, 28, 28);
  z-index: 100;
  padding-left: 80px;
  color: white;
  display: flex;
  transition: background-color 0.25s;
  font-family: Titillium Web, sans-serif;
}

.navbar-container {
  bottom: 0;
}

.navbar-container-scrolled {
  position: fixed;
  top: 0;
  background-color: rgba(20, 20, 20, 0.6);
}

.navbar-container-scrolled:hover #scroll-icon-container,
.navbar-container-scrolled:hover #signature-container {
  background-color: rgb(20, 20, 20);
}

.navbar-container-scrolled:hover #navbar {
  background-color: rgb(27, 27, 27);
}

.signature-container,
.signature-container-scrolled {
  display: flex;
  width: 25vw;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s;
}

.signature-container {
  background-color: rgb(20, 20, 20);
}

.signature {
  width: 100%;
  max-height: 60px;
  object-fit: fill;
  object-position: center;
  filter: brightness(50%);
  margin-right: 10px;
  margin-left: 10px;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  border-right: 1px rgb(80, 80, 80) solid;
  transition: background-color 0.25s;
}

#navbar a,
#navbar-scrolled a {
  position: relative;
  color: gray;
  text-decoration: none;
  font-size: min(2.5vw, 1rem);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.4s;
}

#navbar span,
#navbar-scrolled span {
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  bottom: -4px;
  height: 2px;
  background-color: rgb(237, 181, 0);
  transition: width 0.3s;
}

#navbar a:hover,
#navbar-scrolled a:hover {
  color: rgb(237, 181, 0);
}

#navbar a:hover span,
#navbar-scrolled a:hover span {
  width: 100%;
}

.scroll-icon-container,
.scroll-icon-container-scrolled {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  width: 20vw;
  justify-content: center;
  align-items: center;
  font-size: min(2.5vw, 1rem);
  font-weight: bold;
  border-right: 1px rgb(80, 80, 80) solid;
  color: gray;
  text-wrap: nowrap;
  transition: background-color 0.25s;
}

.scroll-icon-container {
  background-color: rgb(20, 20, 20);
}

.signature-container-scrolled,
.scroll-icon-container-scrolled,
.navbar-container-scrolled #navbar {
  background-color: rgba(20, 20, 20, 0.6);
}

.mouse-icon {
  border-radius: 10px;
  height: 30px;
  width: 20px;
  border: 2px gray solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  flex-shrink: 0;
}

#scroll-wheel {
  width: 4px;
  height: 10px;
  background-color: rgb(237, 181, 0);
  border-radius: 2px;
  animation-name: scroll-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes scroll-animation {
  0% {
    transform: translateY(-5px);
  }
  25% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(4px);
  }
}

@media (max-width: 600px) {
  .navbar-container,
  .navbar-container-scrolled {
    padding-left: 0px;
    position: fixed;
    top: 0;
    height: 50px;
  }

  #navbar {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }

  .scroll-icon-container,
  .scroll-icon-container-scrolled {
    border: none;
  }

  .navbar-container {
    background-color: rgb(35, 35, 35);
  }

  .scroll-icon-container,
  .signature-container {
    background-color: rgb(35, 35, 35);
  }

  .navbar-container-scrolled:hover #scroll-icon-container,
  .navbar-container-scrolled:hover #signature-container,
  .navbar-container-scrolled:hover #navbar {
    background-color: rgb(35, 35, 35);
  }
}
