.navbar-container,
.navbar-container-scrolled {
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgb(27, 27, 27);
  z-index: 100;
  padding-left: 80px;
  color: white;
  display: flex;
  transition: background-color 0.25s;
  font-family: Titillium Web, sans-serif;
}

.navbar-container {
  bottom: 0;
}

.navbar-container-scrolled {
  position: fixed;
  top: 0;
}

.signature-container {
  background-color: rgb(30, 30, 30);
  display: flex;
  width: 25vw;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s;
}

.signature {
  width: 100%;
  max-height: 60px;
  object-fit: fill;
  object-position: center;
  filter: brightness(50%);
  margin-right: 10px;
  margin-left: 10px;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 0 10px;
  border-right: 1px rgb(80, 80, 80) solid;
}

#navbar a {
  position: relative;
  color: gray;
  text-decoration: none;
  font-size: min(2.5vw, 0.8rem);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.25s;
}

#navbar span {
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  bottom: -4px;
  height: 2px;
  background-color: rgb(250, 201, 33);
  transition: width 0.25s;
}

#navbar a:hover {
  color: rgb(250, 201, 33);
}

#navbar a:hover span {
  width: 100%;
}

.scroll-icon-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 15vw;
  justify-content: center;
  align-items: center;
  font-size: min(2.5vw, 0.8rem);
  font-weight: bold;
  border-right: 1px rgb(80, 80, 80) solid;
  color: gray;
  text-wrap: nowrap;

  /*background-color: rgb(30, 30, 30);*/
}

.mouse-icon {
  border-radius: 10px;
  height: 30px;
  width: 20px;
  border: 2px gray solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  flex-shrink: 0;
}

.scroll-wheel {
  width: 4px;
  height: 8px;
  background-color: rgb(250, 201, 33);
  border-radius: 2px;
  animation-name: scroll-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scroll-animation {
  0% {
    transform: translateY(-4px);
  }
  25% {
    transform: translateY(-4px);
    background-color: rgb(250, 201, 33);
  }
  90% {
    transform: translateY(4px);
  }
  91% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@media (max-width: 600px) {
  .navbar-container,
  .navbar-container-scrolled {
    padding-left: 0px;
    position: fixed;
    top: 0;
    height: 50px;
  }

  .signature-container,
  .scroll-icon-container,
  .navbar-container-scrolled,
  .navbar-container,
  #navbar {
    background-color: rgb(35, 35, 35);
    border: none;
  }

  #navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mouse-icon {
    width: 15px;
    height: 22.5px;
    border-radius: 8px;
  }

  .scroll-wheel {
    height: 6px;
    width: 3px;
  }
}
